/* CSS Document */
body{
    background-image: url(mathbg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.button{
    height: 30px;
    width: auto;
    font-family: Lucida Sans Typewriter, Times New Roman;
    font-size: 26px;
    margin: 10px;
}
.calctype{
    height: 20px;
    width: 20px;
}
.tField{
    width:300px;
    height:60px;
    border:1px solid #000;
    padding-left: 8px;
    font-family:Times New Roman;
    font-size:50px;
    margin-bottom: 15px;
    margin-top: 15px;
}
div.wrapperCenter{
    width: inherit;
    text-align: center;
}
div.calcOutline{
	width:650px;
	height:600px;
	background-color:#FFF;
	border:#000 solid;
    display: inline-block;
	-webkit-border-radius:20px;
	border-radius:20px;
    text-align: center;
}
table.calculator{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}
tr.calcView{
    font-family:Lucida Sans Typewriter, Times New Roman;
    font-size: 50px;
    height: auto;
    border: #000 solid;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
}
p.calcView{
    font-family:Lucida Sans Typewriter, Times New Roman;
    font-size: 50px;
    height: auto;
    width: auto;
    border: #000 solid;
}
tr.calcType{
    font-family: Lucida Sans Typewriter, Times New Roman;
    font-size: 20px;
    margin-right: 10px;
}

